<p>Thank you for submitting your RMA in the Basil Client Portal. Before an RMA number can be generated, an invoice provided in a separate email will need to be paid.</p>

<p><u>Return the terminal to the address below with the RMA number visible on the package:</u></p>

<p><strong>
  PAX Technology, Inc.<br>
  <br>
  RMA # {{moOID}}<br>
  <br>
  TOTAL INVOICE AMOUNT: {{invoice}}
</strong>
</p>

<p><em><strong><u>**Policy Notice**</u></strong><br>

  We will no longer accept units that were not listed in the RMA. If this were to occur, we will send back the unlisted unit(s) in its current state and ask the customer to create a new ticket for the devices.</em></p>

<p><em>Moving forward, please ensure that the units that are being shipped to us are the units listed on the ticket to avoid any complications.</em></p>

<br>
<hr>
<br>

<p><strong><u>**Please include a power supply with all units, especially if the device has power/charging issues**</u></strong></p>

<p>Before sending in the units, if the unit is having a software issue, please contact PAX technical support first at (877) 859-0099 or email us at <a href="mailto:support@pax.us"><em><strong>support@pax.us</strong></em></a> to see if your issues can be resolved through them. If your issues persist and you would like to send in your device(s), continue following the instructions provided above.</p>

<p>Thank you!</p>
