<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="us.pax.basil.mapper.PasswordMapper">

<select id="getTokenExpiration" resultType="java.sql.Timestamp">
	SELECT 
		PASS_TOKEN_EXP
	FROM 
		BASIL_SEC_PRD.USERS 
	WHERE 
		PASS_TOKEN=#{token};
</select>

<update id="saveTokenAndExpiration">
	UPDATE BASIL_SEC_PRD.USERS U
	   SET 
	   		U.PASS_TOKEN = #{token, jdbcType=VARCHAR},
	   		U.PASS_TOKEN_EXP = #{timeStamp, jdbcType=TIMESTAMP}
    WHERE EMAIL = #{email, jdbcType=VARCHAR}
</update>
<update id="savePassword">
	UPDATE BASIL_SEC_PRD.USERS U
	   SET 
	   		U.PASSWORD = #{password, jdbcType=VARCHAR}
    WHERE PASS_TOKEN = #{token, jdbcType=VARCHAR}
</update>
<update id="setStatus">
	UPDATE BASIL_SEC_PRD.USERS U
	   SET 
	   		U.STATUS = #{status}
    WHERE PASS_TOKEN = #{token}
</update>
<update id="resetToken">
	UPDATE BASIL_SEC_PRD.USERS U
	   SET 
	   		U.PASS_TOKEN = #{resetToken}
    WHERE PASS_TOKEN = #{token}
</update>
</mapper>
