<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="us.pax.basil.mapper.PrivilegeMapper">
	<insert id="addRoleType">
    	INSERT INTO ROLE_TYPE (NAME, CREATOR, UPDATED)
    	VALUES (#{name,jdbcType=VARCHAR}, #{id,jdbcType=INTEGER}, NOW());
	</insert>

    <select id="queryRoleType" resultType="java.util.HashMap">
        select RT_ID as id, NAME as roleType FROM ROLE_TYPE
    </select>

    <select id="getRoleTypeIdsNames" resultType="java.util.HashMap">
        select RT_ID, NAME FROM ROLE_TYPE;
    </select>

    <select id="getRoleIdsNames" resultType="java.util.HashMap">
        select ROLE_ID, TITLE from USER_ROLES where RT_ID=#{roleTypeId,jdbcType=INTEGER}
    </select>

    <select id="getRoleIdAndTitle" resultType="java.util.HashMap">
        SELECT R_OID, NAME FROM BASIL_SEC_PRD.ROLES
    </select>

    <select id="getUserNameEmail" resultType="java.util.HashMap">
    	SELECT
    		emp.NAME AS userName,
    		emp.EMAIL AS email
		FROM
    		USER_ROLES ur
        	INNER JOIN XREF_USER_ROLE xur USING (ROLE_ID)
        	INNER JOIN EMPLOYEE_MASTER emp ON xur.USER_ID = emp.EMP_OID
		WHERE ur.ROLE_ID = #{role_id,jdbcType=INTEGER} 
    </select>
    
    <select id="getTitleRtIdPrivId" resultType="java.util.HashMap">
        	SELECT
    		r.NAME, 
            r.RT_OID, 
            P_OID
		FROM
    		BASIL_SEC_PRD.ROLES r
        	LEFT JOIN BASIL_SEC_PRD.XREF_ROLE_PRIVILEGE USING (R_OID)
        	LEFT JOIN BASIL_SEC_PRD.PRIVILEGES USING (P_OID)
		WHERE R_OID = #{role_id} AND LEVEL = 4;
    </select>
    
    <update id= "updateRoleType">
    	UPDATE ROLE_TYPE rt
    		SET
        	rt.NAME =#{name,jdbcType=VARCHAR},
        	rt.UPDATED = NOW()
    	WHERE rt.RT_ID =#{id,jdbcType=INTEGER}
    </update>
    
    <update id="updateRole">
    	UPDATE BASIL_SEC_PRD.ROLES 
    	SET 
    		NAME=#{role_name}, 
    		RT_OID=#{role_type_id} 
    	where R_OID=#{role_id};
    </update>

    <insert id="addRole" useGeneratedKeys="true" parameterType="us.pax.basil.entity.privilege.Role" keyProperty="id">
    	INSERT INTO BASIL_SEC_PRD.ROLES (RT_OID, NAME, CREATED, CREATOR, MODIFIED, MODIFIER)
    	VALUES (#{roleTypeID}, #{roleName}, NOW(), #{creator}, NOW(), #{creator});
    </insert>
    
    <insert id="addRolePermission">
    	INSERT INTO BASIL_SEC_PRD.XREF_ROLE_PRIVILEGE (P_OID, R_OID)
    	VALUES (#{permission_id}, #{role_id});
	</insert>
	
	<delete id="deleteRolePermissions">
		DELETE FROM BASIL_SEC_PRD.XREF_ROLE_PRIVILEGE 
			WHERE R_OID = #{role_id};
	</delete>

	<select id="getUser" resultType="us.pax.basil.entity.privilege.UserQuery">
		SELECT
			EMP_OID,
			NAME,
			EMAIL,
			CREATE_DATE,
			LAST_LOGIN_DATE,
			DIVISION,
			TITLE,
			EMP_STATUS,
			BR_PER_HOUR
		FROM
			EMPLOYEE_MASTER
		WHERE EMP_OID=#{id,jdbcType=INTEGER};
	</select>
	
	<select id="getUsers" resultType="us.pax.basil.entity.privilege.UserQuery">
		SELECT
			EMP_OID,
			NAME,
			EMAIL,
			CREATE_DATE,
			LAST_LOGIN_DATE,
			DIVISION,
			TITLE,
			EMP_STATUS,
			BR_PER_HOUR
		FROM
			EMPLOYEE_MASTER;
	</select>

    <insert id="addUser" useGeneratedKeys="true" parameterType="us.pax.basil.entity.privilege.UserAddUpdate" keyProperty="id">
    	INSERT INTO EMPLOYEE_MASTER (NAME, EMAIL, CREATOR, CREATE_DATE, PASSWORD, DIVISION, TITLE, EMP_STATUS, BR_PER_HOUR)
    	VALUES (
    		#{userName,jdbcType=VARCHAR}, 
    		#{email,jdbcType=VARCHAR},
    	    #{creator,jdbcType=VARCHAR}, 
    	    NOW(), 
    	    "$2a$10$JGaVrcOlbiPG6xyciOWgM.2U/evmK7U6N8HRH0XV76Wc8ZnSl0yx.",
			#{division,jdbcType=INTEGER},
			#{title,jdbcType=INTEGER},
			#{employeeStatus,jdbcType=INTEGER},
			#{burdenRate,jdbcType=FLOAT});
    </insert>

    <insert id="addUserRole">
    	INSERT INTO BASIL_SEC_PRD.XREF_USER_ROLE(U_OID, R_OID)
    	VALUES (#{user_id}, #{role_id});
	</insert>

	<select id="getUserRoles" resultType="int">
    	SELECT 
    		R_OID 
    	FROM  
    		BASIL_SEC_PRD.XREF_USER_ROLE
		WHERE U_OID = #{id};
	</select>

	<delete id="deleteUserRoles">
		DELETE FROM BASIL_SEC_PRD.XREF_USER_ROLE
			WHERE U_OID = #{user_id};
	</delete>

    <update id="updateUser" parameterType="us.pax.basil.entity.privilege.UserAddUpdate">
    	UPDATE EMPLOYEE_MASTER 
    	SET 
    		NAME=#{userName,jdbcType=VARCHAR}, 
    		EMAIL=#{email,jdbcType=VARCHAR},
			DIVISION=#{division,jdbcType=INTEGER},
			TITLE=#{title,jdbcType=INTEGER},
			EMP_STATUS=#{employeeStatus,jdbcType=INTEGER},
			BR_PER_HOUR=#{burdenRate,jdbcType=FLOAT}
   		WHERE EMP_OID=#{id,jdbcType=VARCHAR};
    </update>

    <update id="changePassword" >
    	UPDATE EMPLOYEE_MASTER 
    	SET 
    		PASSWORD=#{newPassword,jdbcType=VARCHAR} 
   		WHERE EMP_OID=#{id,jdbcType=INTEGER};
    </update>
</mapper>