<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="us.pax.basil.mapper.RmaMapper">

<select id="getShippingTotal" resultType="Integer">
		SELECT
			count(*)
		FROM
    		BASIL_ODS_PRD.MASTER_ORDER mo
		    JOIN BASIL_ODS_PRD.XREF_MATERIALS xm USING (MO_OID)
		    JOIN BASIL_ODS_PRD.MASTER_SERIAL_NUMBER msn USING (MSN_OID)
		    JOIN BASIL_ODS_PRD.MASTER_PART part USING (PART_OID)
		    JOIN BASIL_ODS_PRD.XREF_SHIP ship USING (BOX_OID)
		    JOIN BASIL_ODS_PRD.XREF_FAULT_CODE xfc USING (xm_OID)
		    JOIN BASIL_ODS_PRD.SUPPORT_FAULT_CODE_VALUES fault ON fault.SFV_OID = xfc.FAULT_CODE
		<where>
			mo.MC_OID = #{id}
			<if test="rmaNumber != null">
				AND mo.MO_OID = #{rmaNumber}
			</if>
			<if test="serialNumber != null">
				AND msn.SERIAL_NUMBER LIKE concat('%',#{serialNumber},'%')
			</if>
			<if test="partNumber != null">
				AND part.PART_NUMBER_SHORT LIKE concat('%',#{partNumber},'%')
			</if>
    		AND xm.STATUS = 113
		</where>
</select>

<select id="getShipping" resultType="us.pax.basil.entity.rma.Shipped">
SELECT
    ship.SHIP_DATE as shipDate,
    part.PART_NUMBER_SHORT as partNumber,
    msn.SERIAL_NUMBER as serialNumber,
    mo.MO_OID as rmaNumber,
    ship.TRACKING_NUMBER as trackingNumber,
    xm.CUSTOMER_REPORTED_ISSUE_EXT as reportedIssue,
    fault.VALUE as faultCode
FROM
    BASIL_ODS_PRD.MASTER_ORDER mo
    JOIN BASIL_ODS_PRD.XREF_MATERIALS xm USING (MO_OID)
    JOIN BASIL_ODS_PRD.MASTER_SERIAL_NUMBER msn USING (MSN_OID)
    JOIN BASIL_ODS_PRD.MASTER_PART part USING (PART_OID)
    JOIN BASIL_ODS_PRD.XREF_SHIP ship USING (BOX_OID)
    JOIN BASIL_ODS_PRD.XREF_FAULT_CODE xfc USING (xm_OID)
    JOIN BASIL_ODS_PRD.SUPPORT_FAULT_CODE_VALUES fault ON fault.SFV_OID = xfc.FAULT_CODE
<where>
	mo.MC_OID = #{id}
	<if test="rmaNumber != null">
		AND mo.MO_OID = #{rmaNumber}
	</if>
	<if test="serialNumber != null">
		AND msn.SERIAL_NUMBER LIKE concat('%',#{serialNumber},'%')
	</if>
	<if test="partNumber != null">
		AND part.PART_NUMBER_SHORT LIKE concat('%',#{partNumber},'%')
	</if>
    	AND xm.STATUS = 113
</where>
    <if test="sortColumns != null and sortColumns != ''">
      ORDER BY ${sortColumns}
    </if>
    LIMIT #{offset,jdbcType=INTEGER},#{count,jdbcType=INTEGER}
</select>

<select id="getQuarantineTotal" resultType="Integer">
	SELECT
		count(*)
	FROM
	    BASIL_ODS_PRD.MASTER_ORDER mo
	    JOIN BASIL_ODS_PRD.XREF_MATERIALS xm USING (MO_OID)
	    JOIN BASIL_ODS_PRD.MASTER_SERIAL_NUMBER msn USING (MSN_OID)
	    JOIN BASIL_ODS_PRD.MASTER_PART part USING (PART_OID)
	    JOIN BASIL_ODS_PRD.XREF_FAULT_CODE xfc USING (xm_OID)
	    JOIN BASIL_ODS_PRD.SUPPORT_FAULT_CODE_VALUES fault ON fault.SFV_OID = xfc.FAULT_CODE
	    LEFT JOIN BASIL_ODS_PRD.SUPPORT_ATTRIBUTE_VALUES sav ON sav.SAV_OID = xm.CUSTOMER_CONTACT_NEEDED
	<where>
		mo.MC_OID = #{id}
		<if test="rmaNumber != null">
			AND mo.MO_OID = #{rmaNumber}
		</if>
		<if test="serialNumber != null">
			AND msn.SERIAL_NUMBER LIKE concat('%',#{serialNumber},'%')
		</if>
		<if test="partNumber != null">
			AND part.PART_NUMBER_SHORT LIKE concat('%',#{partNumber},'%')
		</if>
	    	AND xm.STATUS = 108
	</where>
</select>

<select id="getQuarantine" resultType="us.pax.basil.entity.rma.Quarantine">
SELECT
    xm.QUARANTINE_DATE as quarantineDate,
    part.PART_NUMBER_SHORT as partNumber,
    msn.SERIAL_NUMBER as serialNumber,
    mo.MO_OID as rmaNumber,
    sav.VALUE as customerContact,
    xm.TECH_NOTES as techNotes,
    fault.VALUE AS faultCode
FROM
    BASIL_ODS_PRD.MASTER_ORDER mo
    JOIN BASIL_ODS_PRD.XREF_MATERIALS xm USING (MO_OID)
    JOIN BASIL_ODS_PRD.MASTER_SERIAL_NUMBER msn USING (MSN_OID)
    JOIN BASIL_ODS_PRD.MASTER_PART part USING (PART_OID)
    JOIN BASIL_ODS_PRD.XREF_FAULT_CODE xfc USING (xm_OID)
    JOIN BASIL_ODS_PRD.SUPPORT_FAULT_CODE_VALUES fault ON fault.SFV_OID = xfc.FAULT_CODE
    LEFT JOIN BASIL_ODS_PRD.SUPPORT_ATTRIBUTE_VALUES sav ON sav.SAV_OID = xm.CUSTOMER_CONTACT_NEEDED
<where>
	mo.MC_OID = #{id}
	<if test="rmaNumber != null">
		AND mo.MO_OID = #{rmaNumber}
	</if>
	<if test="serialNumber != null">
		AND msn.SERIAL_NUMBER LIKE concat('%',#{serialNumber},'%')
	</if>
	<if test="partNumber != null">
		AND part.PART_NUMBER_SHORT LIKE concat('%',#{partNumber},'%')
	</if>
    	AND xm.STATUS = 108
</where>
    <if test="sortColumns != null and sortColumns != ''">
      ORDER BY ${sortColumns}
    </if>
    LIMIT #{offset,jdbcType=INTEGER},#{count,jdbcType=INTEGER}
</select>

<select id="getPartNumberTier1" resultType="us.pax.basil.entity.rma.PartNumberTier1">
	SELECT 
	    part.PART_NUMBER_SHORT as partNumber,
	    SUM(IF(xm.STATUS = 107, 1, 0)) AS inventory,
	    SUM(IF(xm.STATUS = 110, 1, 0)) AS outForRepair,
	    SUM(IF(xm.STATUS = 108, 1, 0)) AS quarantine,
	    SUM(IF(xm.STATUS = 111, 1, 0)) AS awaitingQaCa,
	    SUM(IF(xm.STATUS = 112, 1, 0)) AS readyToShip,
	    COUNT(mo.MO_OID) AS TOTAL
	FROM
	    BASIL_ODS_PRD.MASTER_ORDER mo
	    JOIN BASIL_ODS_PRD.XREF_MATERIALS xm USING (MO_OID)
	    JOIN BASIL_ODS_PRD.MASTER_SERIAL_NUMBER msn USING (MSN_OID)
	    JOIN BASIL_ODS_PRD.MASTER_PART part USING (PART_OID)
	WHERE
	    mo.MC_OID = #{id} AND xm.STATUS IN (107, 110, 108, 111, 112)
		<if test="partNumber != null">
			AND part.PART_NUMBER_SHORT LIKE concat('%',#{partNumber},'%')
		</if>
		<if test="rmaNumber != null">
			AND mo.MO_OID LIKE concat('%',#{rmaNumber},'%')
		</if>
		<if test="serialNumber != null">
			AND msn.SERIAL_NUMBER LIKE concat('%',#{serialNumber},'%')
		</if>
	GROUP BY part.PART_NUMBER_SHORT;
</select>

<select id="getRmaNumberTier2" resultType="us.pax.basil.entity.rma.RmaNumberTier2">
	SELECT
	    mo.MO_OID as rmaNumber,
	    SUM(IF(xm.STATUS = 107, 1, 0)) AS inventory,
	    SUM(IF(xm.STATUS = 110, 1, 0)) AS outForRepair,
	    SUM(IF(xm.STATUS = 108, 1, 0)) AS quarantine,
	    SUM(IF(xm.STATUS = 111, 1, 0)) AS awaitingQaCa,
	    SUM(IF(xm.STATUS = 112, 1, 0)) AS readyToShip,
	    COUNT(msn.SERIAL_NUMBER) AS total
	FROM
	    BASIL_ODS_PRD.MASTER_ORDER mo
	    JOIN BASIL_ODS_PRD.XREF_MATERIALS xm USING (MO_OID)
	    JOIN BASIL_ODS_PRD.MASTER_SERIAL_NUMBER msn USING (MSN_OID)
	    JOIN BASIL_ODS_PRD.MASTER_PART part USING (PART_OID)
	WHERE
	    mo.MC_OID = #{id} AND xm.STATUS IN (107, 110, 108, 111, 112)
		<if test="rmaNumber != null">
			AND mo.MO_OID LIKE concat('%',#{rmaNumber},'%')
		</if>
		<if test="serialNumber != null">
			AND msn.SERIAL_NUMBER LIKE concat('%',#{serialNumber},'%')
		</if>
	GROUP BY part.PART_NUMBER_SHORT, mo.MO_OID
	HAVING part.PART_NUMBER_SHORT = #{partNumber};
</select>

<select id="getSerialNumberTier3" resultType="us.pax.basil.entity.rma.SerialNumberTier3">
    SELECT
        msn.SERIAL_NUMBER as serialNumber,
        IF(xm.STATUS = 107, 1, 0) AS inventory,
        IF(xm.STATUS = 110, 1, 0) AS outForRepair,
        IF(xm.STATUS = 108, 1, 0) AS quarantine,
        IF(xm.STATUS = 111, 1, 0) AS awaitingQaCa,
        IF(xm.STATUS = 112, 1, 0) AS readyToShip
    FROM
        BASIL_ODS_PRD.MASTER_ORDER mo
        JOIN BASIL_ODS_PRD.XREF_MATERIALS xm USING (MO_OID)
        JOIN BASIL_ODS_PRD.MASTER_SERIAL_NUMBER msn USING (MSN_OID)
        JOIN BASIL_ODS_PRD.MASTER_PART part USING (PART_OID)
    WHERE
        mo.MC_OID = #{id}
            AND xm.STATUS IN (107, 110, 108, 111, 112)
    		AND part.PART_NUMBER_SHORT = #{partNumber}
            AND mo.MO_OID = #{rmaNumber}
			<if test="serialNumber != null">
				AND msn.SERIAL_NUMBER LIKE concat('%',#{serialNumber},'%')
			</if>
</select>

</mapper>
