<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="us.pax.basil.mapper.RmaMapper">

<select id="getShippingTotal" resultType="Integer">
		SELECT
			count(*)
		FROM
			BASIL_ODS_PRD.MASTER_ORDER mo
		JOIN
			BASIL_ODS_PRD.XREF_MATERIALS xm USING (MO_OID)
		JOIN
			BASIL_ODS_PRD.MASTER_SERIAL_NUMBER msn USING (MSN_OID)
		JOIN
			BASIL_ODS_PRD.MASTER_PART part USING (PART_OID)
		JOIN
			BASIL_ODS_PRD.XREF_SHIP ship USING (BOX_OID)
		JOIN
			(SELECT
				xfc.xm_OID, GROUP_CONCAT(DISTINCT fault.VALUE) AS faultCode
			FROM
				BASIL_ODS_PRD.XREF_FAULT_CODE xfc
			JOIN BASIL_ODS_PRD.SUPPORT_FAULT_CODE_VALUES fault ON fault.SFV_OID = xfc.FAULT_CODE
			GROUP BY xfc.xm_OID) fault USING (xm_OID)
		<where>
			<if test="id != null">
	    		mo.MC_OID = #{id}
			</if>
			<if test="rmaNumber != null">
				AND
				<foreach item="item" index="index" collection="rmaNumber"
						 open="mo.MO_OID in (" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="serialNumber != null">
				AND
				<foreach item="item" index="index" collection="serialNumber"
						 open="msn.SERIAL_NUMBER in (" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="partNumber != null">
				AND part.PART_NUMBER_SHORT LIKE CONCAT(#{partNumber},'%')
			</if>
			<if test="shipFromDate != null and shipToDate != null">
				AND ship.SHIP_DATE BETWEEN #{shipFromDate} AND #{shipToDate}
			</if>
    		AND xm.STATUS = 113
		</where>
</select>

<select id="getShipping" resultType="us.pax.basil.entity.rma.Shipped">
    SELECT
		ship.SHIP_DATE AS shipDate,
		part.PART_NUMBER_SHORT AS partNumber,
		msn.SERIAL_NUMBER AS serialNumber,
		mo.MO_OID AS rmaNumber,
		ship.TRACKING_NUMBER AS trackingNumber,
		xm.CUSTOMER_REPORTED_ISSUE_EXT AS reportedIssue,
		xm.TECH_NOTES AS techNotes,
		fault.faultCode,
		mc.CUSTOMER_ORGANIZATION as customerOrganization
    FROM
    	BASIL_ODS_PRD.MASTER_ORDER mo
    	JOIN BASIL_ODS_PRD.MASTER_CUSTOMER mc USING (MC_OID)
    	JOIN BASIL_ODS_PRD.XREF_MATERIALS xm USING (MO_OID)
    	JOIN BASIL_ODS_PRD.MASTER_SERIAL_NUMBER msn USING (MSN_OID)
    	JOIN BASIL_ODS_PRD.MASTER_PART part USING (PART_OID)
    	JOIN BASIL_ODS_PRD.XREF_SHIP ship USING (BOX_OID)
    	JOIN
		(SELECT
			xfc.xm_OID, GROUP_CONCAT(DISTINCT fault.VALUE) AS faultCode
		FROM
			BASIL_ODS_PRD.XREF_FAULT_CODE xfc
		JOIN BASIL_ODS_PRD.SUPPORT_FAULT_CODE_VALUES fault ON fault.SFV_OID = xfc.FAULT_CODE
		GROUP BY xfc.xm_OID) fault USING (xm_OID)
	<where>
		<if test="id != null">
			mo.MC_OID = #{id}
		</if>
		<if test="rmaNumber != null">
			AND
			<foreach item="item" index="index" collection="rmaNumber"
					 open="mo.MO_OID in (" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="serialNumber != null">
			AND
			<foreach item="item" index="index" collection="serialNumber"
					 open="msn.SERIAL_NUMBER in (" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="partNumber != null">
			AND part.PART_NUMBER_SHORT LIKE CONCAT(#{partNumber},'%')
		</if>
		<if test="shipFromDate != null and shipToDate != null">
			AND ship.SHIP_DATE BETWEEN #{shipFromDate} AND #{shipToDate}
		</if>
			AND xm.STATUS = 113
	</where>
    <if test="sortColumns != null and sortColumns != ''">
      ORDER BY ${sortColumns}
    </if>
    LIMIT #{offset,jdbcType=INTEGER},#{count,jdbcType=INTEGER}
</select>

<select id="getQuarantineTotal" resultType="Integer">
	SELECT
		count(*)
	FROM
	    BASIL_ODS_PRD.MASTER_ORDER mo
	    JOIN BASIL_ODS_PRD.XREF_MATERIALS xm USING (MO_OID)
	    JOIN BASIL_ODS_PRD.MASTER_SERIAL_NUMBER msn USING (MSN_OID)
	    JOIN BASIL_ODS_PRD.MASTER_PART part USING (PART_OID)
	<where>
		<if test="id != null">
	    	mo.MC_OID = #{id}
		</if>
		<if test="rmaNumber != null">
			AND
			<foreach item="item" index="index" collection="rmaNumber"
					 open="mo.MO_OID in (" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="serialNumber != null">
			AND
			<foreach item="item" index="index" collection="serialNumber"
					 open="msn.SERIAL_NUMBER in (" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="partNumber != null">
			AND part.PART_NUMBER_SHORT LIKE CONCAT(#{partNumber},'%')
		</if>
		<if test="contact != null">
			AND xm.CUSTOMER_CONTACT_NEEDED = #{contact}
		</if>
	    	AND xm.STATUS = 108
	</where>
</select>

<select id="getQuarantine" resultType="us.pax.basil.entity.rma.Quarantine">
SELECT
    xm.QUARANTINE_DATE as quarantineDate,
    part.PART_NUMBER_SHORT as partNumber,
    msn.SERIAL_NUMBER as serialNumber,
    mo.MO_OID as rmaNumber,
    sav.VALUE as customerContact,
    xm.TECH_NOTES as techNotes,
    fault.faultCode,
	parts.partsNeeded,
	mc.CUSTOMER_ORGANIZATION as customerOrganization
FROM
    BASIL_ODS_PRD.MASTER_ORDER mo
    JOIN BASIL_ODS_PRD.MASTER_CUSTOMER mc USING (MC_OID)
    JOIN BASIL_ODS_PRD.XREF_MATERIALS xm USING (MO_OID)
    JOIN BASIL_ODS_PRD.MASTER_SERIAL_NUMBER msn USING (MSN_OID)
    JOIN BASIL_ODS_PRD.MASTER_PART part USING (PART_OID)
    LEFT JOIN BASIL_ODS_PRD.SUPPORT_ATTRIBUTE_VALUES sav ON sav.SAV_OID = xm.CUSTOMER_CONTACT_NEEDED
	LEFT JOIN
		(SELECT
			xfc.xm_OID, GROUP_CONCAT(DISTINCT fault.VALUE) AS faultCode
		FROM
			BASIL_ODS_PRD.XREF_FAULT_CODE xfc
		JOIN BASIL_ODS_PRD.SUPPORT_FAULT_CODE_VALUES fault ON fault.SFV_OID = xfc.FAULT_CODE
		GROUP BY xfc.xm_OID) fault USING (xm_OID)
	LEFT JOIN
		(SELECT
			fm.xm_OID,
			GROUP_CONCAT(DISTINCT TRIM(material.MATERIAL_DESCRIPTION) SEPARATOR ' | ') AS partsNeeded
		FROM
			(SELECT
				XM_OID, MM_OID
			FROM
			BASIL_ODS_PRD.FACT_MEASURE UNION SELECT
				XM_OID, MM_OID
			FROM
				BASIL_ODS_PRD.HIST_FACT_MEASURE WHERE MEASURE_OID = 9) fm
			JOIN BASIL_ODS_PRD.MASTER_MATERIAL material USING (MM_OID)
			GROUP BY fm.xm_OID) parts USING (xm_OID)
<where>
	<if test="id != null">
		mo.MC_OID = #{id}
	</if>
	<if test="rmaNumber != null">
		AND
		<foreach item="item" index="index" collection="rmaNumber"
				 open="mo.MO_OID in (" separator="," close=")">
			#{item}
		</foreach>
	</if>
	<if test="serialNumber != null">
		AND
		<foreach item="item" index="index" collection="serialNumber"
				 open="msn.SERIAL_NUMBER in (" separator="," close=")">
			#{item}
		</foreach>
	</if>
	<if test="partNumber != null">
		AND part.PART_NUMBER_SHORT LIKE CONCAT(#{partNumber},'%')
	</if>
	<if test="contact != null">
		AND xm.CUSTOMER_CONTACT_NEEDED = #{contact}
	</if>
    	AND xm.STATUS = 108
</where>
    <if test="sortColumns != null and sortColumns != ''">
      ORDER BY ${sortColumns}
    </if>
    LIMIT #{offset,jdbcType=INTEGER},#{count,jdbcType=INTEGER}
</select>

<select id="getPartNumberTier1" resultType="us.pax.basil.entity.rma.PartNumberTier1">
	SELECT 
	    part.PART_NUMBER_SHORT as partNumber,
	    SUM(IF(xm.STATUS = 107, 1, 0)) AS inventory,
	    SUM(IF(xm.STATUS = 110, 1, 0)) AS outForRepair,
	    SUM(IF(xm.STATUS = 108, 1, 0)) AS quarantine,
	    SUM(IF(xm.STATUS = 111, 1, 0)) AS awaitingQaCa,
	    SUM(IF(xm.STATUS = 112, 1, 0)) AS readyToShip,
	    COUNT(mo.MO_OID) AS TOTAL
	FROM
	    BASIL_ODS_PRD.MASTER_ORDER mo
	    JOIN BASIL_ODS_PRD.XREF_MATERIALS xm USING (MO_OID)
	    JOIN BASIL_ODS_PRD.MASTER_SERIAL_NUMBER msn USING (MSN_OID)
	    JOIN BASIL_ODS_PRD.MASTER_PART part USING (PART_OID)
	<where>
	    xm.STATUS IN (107, 110, 108, 111, 112)
		<if test="id != null">
	    	AND mo.MC_OID = #{id}
		</if>
		<if test="partNumber != null">
			AND part.PART_NUMBER_SHORT LIKE CONCAT(#{partNumber},'%')
		</if>
		<if test="rmaNumber != null">
			AND
			<foreach item="item" index="index" collection="rmaNumber"
					 open="mo.MO_OID in (" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="serialNumber != null">
			AND
			<foreach item="item" index="index" collection="serialNumber"
					 open="msn.SERIAL_NUMBER in (" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</where>
	GROUP BY part.PART_NUMBER_SHORT;
</select>

<select id="getRmaNumberTier2" resultType="us.pax.basil.entity.rma.RmaNumberTier2">
	SELECT
	    mo.MO_OID as rmaNumber,
	    SUM(IF(xm.STATUS = 107, 1, 0)) AS inventory,
	    SUM(IF(xm.STATUS = 110, 1, 0)) AS outForRepair,
	    SUM(IF(xm.STATUS = 108, 1, 0)) AS quarantine,
	    SUM(IF(xm.STATUS = 111, 1, 0)) AS awaitingQaCa,
	    SUM(IF(xm.STATUS = 112, 1, 0)) AS readyToShip,
	    COUNT(msn.SERIAL_NUMBER) AS total
	FROM
	    BASIL_ODS_PRD.MASTER_ORDER mo
	    JOIN BASIL_ODS_PRD.XREF_MATERIALS xm USING (MO_OID)
	    JOIN BASIL_ODS_PRD.MASTER_SERIAL_NUMBER msn USING (MSN_OID)
	    JOIN BASIL_ODS_PRD.MASTER_PART part USING (PART_OID)
	<where>
	    xm.STATUS IN (107, 110, 108, 111, 112)
		<if test="id != null">
	    	AND mo.MC_OID = #{id}
		</if>
		<if test="rmaNumber != null">
			AND
			<foreach item="item" index="index" collection="rmaNumber"
					 open="mo.MO_OID in (" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="serialNumber != null">
			AND
			<foreach item="item" index="index" collection="serialNumber"
					 open="msn.SERIAL_NUMBER in (" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</where>
	GROUP BY part.PART_NUMBER_SHORT, mo.MO_OID
	HAVING part.PART_NUMBER_SHORT = #{partNumber};
</select>

<select id="getSerialNumberTier3" resultType="us.pax.basil.entity.rma.SerialNumberTier3">
    SELECT
		xm.XM_OID AS id,
        msn.SERIAL_NUMBER AS serialNumber,
        IF(xm.STATUS = 107, 1, 0) AS inventory,
        IF(xm.STATUS = 110, 1, 0) AS outForRepair,
        IF(xm.STATUS = 108, 1, 0) AS quarantine,
        IF(xm.STATUS = 111, 1, 0) AS awaitingQaCa,
        IF(xm.STATUS = 112, 1, 0) AS readyToShip
        
    FROM
        BASIL_ODS_PRD.MASTER_ORDER mo
        JOIN BASIL_ODS_PRD.XREF_MATERIALS xm USING (MO_OID)
        JOIN BASIL_ODS_PRD.MASTER_SERIAL_NUMBER msn USING (MSN_OID)
        JOIN BASIL_ODS_PRD.MASTER_PART part USING (PART_OID)
	<where>
		<if test="id != null">
	    	mo.MC_OID = #{id}
		</if>
            AND xm.STATUS IN (107, 110, 108, 111, 112)
    		AND part.PART_NUMBER_SHORT = #{partNumber}
            AND mo.MO_OID = #{rmaNumber}
		<if test="serialNumber != null">
			AND
			<foreach item="item" index="index" collection="serialNumber"
					 open="msn.SERIAL_NUMBER in (" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</where>
</select>

<select id="getSerialDetailsTier4" resultType="us.pax.basil.entity.rma.SerialDetailsTier4">
	SELECT
	    xm.CUSTOMER_REPORTED_ISSUE_EXT as reportedIssue,
		fault.faultCode AS faultCodes,
		mc.CUSTOMER_ORGANIZATION as customerOrganization
	FROM
		BASIL_ODS_PRD.XREF_MATERIALS xm
	LEFT JOIN BASIL_ODS_PRD.MASTER_ORDER mo USING (MO_OID)
	LEFT JOIN BASIL_ODS_PRD.MASTER_CUSTOMER mc USING (MC_OID)
	LEFT JOIN
		(SELECT
			xfc.xm_OID, GROUP_CONCAT(DISTINCT fault.VALUE) AS faultCode
		FROM
			BASIL_ODS_PRD.XREF_FAULT_CODE xfc
		JOIN BASIL_ODS_PRD.SUPPORT_FAULT_CODE_VALUES fault ON fault.SFV_OID = xfc.FAULT_CODE
		GROUP BY xfc.xm_OID) fault USING (xm_OID)
	WHERE
		XM_OID = #{id}
</select>

<select id="statusExcelExport" resultType="us.pax.basil.entity.rma.StatusExcelExport">
	SELECT
		part.PART_NUMBER_SHORT partNumber,
		mo.MO_OID rmaNumber,
		msn.SERIAL_NUMBER AS serialNumber,
		mc.CUSTOMER_ORGANIZATION as customerOrganization,
	IF(xm.STATUS = 107, 'Received', sav.VALUE) status
	FROM
		BASIL_ODS_PRD.MASTER_ORDER mo
		JOIN BASIL_ODS_PRD.XREF_MATERIALS xm USING (MO_OID)
		JOIN BASIL_ODS_PRD.MASTER_SERIAL_NUMBER msn USING (MSN_OID)
		JOIN BASIL_ODS_PRD.MASTER_PART part USING (PART_OID)
		LEFT JOIN BASIL_ODS_PRD.MASTER_CUSTOMER mc USING (MC_OID)
		LEFT JOIN BASIL_ODS_PRD.SUPPORT_ATTRIBUTE_VALUES sav ON sav.SAV_OID = xm.STATUS
	<where>
		xm.STATUS IN (107, 110, 108, 111, 112)
		<if test="id != null">
			mo.MC_OID = #{id}
		</if>
		<if test="partNumber != null">
			AND part.PART_NUMBER_SHORT LIKE CONCAT(#{partNumber},'%')
		</if>
		<if test="rmaNumber != null">
			AND
			<foreach item="item" index="index" collection="rmaNumber"
					 open="mo.MO_OID in (" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="serialNumber != null">
			AND
			<foreach item="item" index="index" collection="serialNumber"
					 open="msn.SERIAL_NUMBER in (" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</where>
	ORDER BY FIELD(xm.STATUS, 107, 110, 108, 111, 112), part.PART_NUMBER_SHORT
</select>
</mapper>
