<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="us.pax.basil.mapper.SupportAttributeMapper">
    <select id="getValue" resultType="java.util.HashMap">
    	SELECT
           SAV_OID AS value, 
           VALUE AS label
        FROM
           BASIL_ODS_PRD.SUPPORT_ATTRIBUTE_VALUES
        WHERE
           SA_OID = #{oid,jdbcType=INTEGER};
    </select>

    <select id="getCompanyInfo" resultType="java.util.HashMap">
		SELECT
   			MC_OID as value,
   			CUSTOMER_ORGANIZATION as label
   		FROM 
   			BASIL_ODS_PRD.MASTER_CUSTOMER
    </select>
</mapper>