<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="us.pax.basil.mapper.TicketMapper">
    <select id = "getTicketingTotal" resultType = "Integer">
        SELECT
            count(*)
        FROM
            BASIL_SEC_PRD.PREP_MASTER_ORDER pmo
            JOIN BASIL_ODS_PRD.MASTER_CUSTOMER mc USING(MC_OID)
            JOIN BASIL_SEC_PRD.SUPPORT_CLIENT_ATTRIBUTE_VALUES scavstat ON pmo.ORDER_STATUS = scavstat.SCV_OID
            LEFT JOIN BASIL_SEC_PRD.XREF_RESPONSE resp USING(MO_OID)
            LEFT JOIN BASIL_SEC_PRD.USERS user ON resp.RESPONSE_BY = user.U_OID
            LEFT JOIN BASIL_SEC_PRD.SUPPORT_CLIENT_ATTRIBUTE_VALUES scavstatus ON pmo.ORDER_STATUS = scavstatus.SCV_OID
            LEFT JOIN BASIL_SEC_PRD.SUPPORT_CLIENT_ATTRIBUTE_VALUES scavdept ON pmo.ORDER_DEPT = scavdept.SCV_OID
            LEFT JOIN BASIL_SEC_PRD.SUPPORT_CLIENT_ATTRIBUTE_VALUES scavtype ON pmo.ORDER_TYPE = scavtype.SCV_OID
        <where>
            <if test = "id !=null">
                AND mc.MC_OID = #{id}
            </if>
            <if test = "ticketId != null">
                AND
                <foreach item="item" index="index" collection="ticketId" open="pmo.MO_OID in (" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test = "department != null">
                AND scavdept.SCV_OID = #{department}
            </if>
            <if test = "type != null">
                AND scavtype.SCV_OID = #{type}
            </if>
            <if test = "status != null">
                AND scavstatus.SCV_OID = #{status}
            </if>
            <if test="serialNumber != null">
                AND
                pmo.MO_OID IN (
                SELECT pxm.MO_OID
                FROM BASIL_SEC_PRD.PREP_XREF_MATERIALS AS pxm
                WHERE pxm.MSN_OID IN (
                SELECT msn.MSN_OID
                FROM BASIL_ODS_PRD.MASTER_SERIAL_NUMBER AS msn
                WHERE msn.SERIAL_NUMBER IN
                <foreach item="item" index="index" collection="serialNumber" open="(" separator="," close=")">
                    #{item}
                </foreach>
                )
                )
            </if>
            <if test = "responder != null">
                AND user.NAME = #{responder} OR user.NAME IS NULL
            </if>
            <if test = "createdFromDate != null and createdToDate">
                AND pmo.ORDER_DATE BETWEEN #{createdFromDate} AND #{createdToDate}
            </if>
        </where>
    </select>

    <select id = "getTicketing" resultType = "us.pax.basil.entity.ticket.TicketingQueue">
            SELECT
                pmo.MO_OID as ticketId,
                scavstatus.VALUE as status,
                scavdept.VALUE as department,
                scavtype.VALUE as type,
                mc.CUSTOMER_ORGANIZATION as customerOrganization,
                pmo.ORDER_DATE as createdDate,
                user.NAME as responder
            FROM
                BASIL_SEC_PRD.PREP_MASTER_ORDER pmo
                JOIN BASIL_ODS_PRD.MASTER_CUSTOMER mc USING(MC_OID)
                JOIN BASIL_SEC_PRD.SUPPORT_CLIENT_ATTRIBUTE_VALUES scavstat ON pmo.ORDER_STATUS = scavstat.SCV_OID
                LEFT JOIN BASIL_SEC_PRD.XREF_RESPONSE resp USING(MO_OID)
                LEFT JOIN BASIL_SEC_PRD.USERS user ON resp.RESPONSE_BY = user.U_OID

                LEFT JOIN BASIL_SEC_PRD.SUPPORT_CLIENT_ATTRIBUTE_VALUES scavstatus ON pmo.ORDER_STATUS = scavstatus.SCV_OID
                LEFT JOIN BASIL_SEC_PRD.SUPPORT_CLIENT_ATTRIBUTE_VALUES scavdept ON pmo.ORDER_DEPT = scavdept.SCV_OID
                LEFT JOIN BASIL_SEC_PRD.SUPPORT_CLIENT_ATTRIBUTE_VALUES scavtype ON pmo.ORDER_TYPE = scavtype.SCV_OID

        <where>
            pmo.ACKNOWLEDGED = 0
            <if test = "id !=null">
                AND mc.MC_OID = #{id}
            </if>
            <if test = "ticketId != null">
                AND
                <foreach item="item" index="index" collection="ticketId" open="pmo.MO_OID in (" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test = "department != null">
                AND scavdept.SCV_OID = #{department}
            </if>
            <if test = "type != null">
                AND scavtype.SCV_OID = #{type}
            </if>
            <if test = "status != null">
                AND scavstatus.SCV_OID = #{status}
            </if>
            <if test="serialNumber != null">
                AND
                pmo.MO_OID IN (
                    SELECT pxm.MO_OID
                    FROM BASIL_SEC_PRD.PREP_XREF_MATERIALS AS pxm
                    WHERE pxm.MSN_OID IN (
                        SELECT msn.MSN_OID
                        FROM BASIL_ODS_PRD.MASTER_SERIAL_NUMBER AS msn
                        WHERE msn.SERIAL_NUMBER IN
                        <foreach item="item" index="index" collection="serialNumber" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    )
                )
            </if>

            <if test = "responder != null">
                    AND LOWER(user.NAME) LIKE CONCAT ('%', LOWER(#{responder}), '%')
            </if>
            <if test = "createdFromDate != null and createdToDate">
                AND pmo.ORDER_DATE BETWEEN #{createdFromDate} AND #{createdToDate}
            </if>
        </where>
        <if test="sortColumns != null and sortColumns != ''">
            ORDER BY ${sortColumns}
        </if>
        LIMIT #{offset,jdbcType=INTEGER},#{count,jdbcType=INTEGER}
    </select>


    <select id = "getTicketingViewsTotal" resultType = "Integer">
        SELECT
        count(*)
        FROM
        BASIL_SEC_PRD.PREP_MASTER_ORDER pmo
        JOIN BASIL_ODS_PRD.MASTER_CUSTOMER mc USING(MC_OID)
        JOIN BASIL_SEC_PRD.SUPPORT_CLIENT_ATTRIBUTE_VALUES scavstat ON pmo.ORDER_STATUS = scavstat.SCV_OID
        LEFT JOIN BASIL_SEC_PRD.XREF_RESPONSE resp USING(MO_OID)
        LEFT JOIN BASIL_SEC_PRD.USERS user ON resp.RESPONSE_BY = user.U_OID
        LEFT JOIN BASIL_SEC_PRD.SUPPORT_CLIENT_ATTRIBUTE_VALUES scavstatus ON pmo.ORDER_STATUS = scavstatus.SCV_OID
        LEFT JOIN BASIL_SEC_PRD.SUPPORT_CLIENT_ATTRIBUTE_VALUES scavdept ON pmo.ORDER_DEPT = scavdept.SCV_OID
        LEFT JOIN BASIL_SEC_PRD.SUPPORT_CLIENT_ATTRIBUTE_VALUES scavtype ON pmo.ORDER_TYPE = scavtype.SCV_OID
        LEFT JOIN (
        select response.* from ( select response.*,row_number() over (partition by mo_oid order by response_date desc) rn from BASIL_SEC_PRD.XREF_RESPONSE as response ) AS response where response.rn=1 ) AS res on res.MO_OID=pmo.MO_OID
        <where>
            <if test = "id !=null">
                AND mc.MC_OID = #{id}
            </if>
            <if test = "ticketId != null">
                AND
                <foreach item="item" index="index" collection="ticketId" open="pmo.MO_OID in (" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test = "department != null">
                AND scavdept.SCV_OID = #{department}
            </if>
            <if test = "type != null">
                AND scavtype.SCV_OID = #{type}
            </if>
            <if test = "status != null">
                AND scavstatus.SCV_OID = #{status}
            </if>


            <if test = "lastResponse != null">
                AND resp.RESPONSE_DATE = #{lastResponse}
            </if>

            <if test = "customerOrganization != null">
                AND mc.CUSTOMER_ORGANIZATION = #{customerOrganization}
            </if>

            <if test = "customerId != null">
                AND mc.MC_OID = #{customerId}
            </if>

            <if test="serialNumber != null">
                AND
                pmo.MO_OID IN (
                SELECT pxm.MO_OID
                FROM BASIL_SEC_PRD.PREP_XREF_MATERIALS AS pxm
                WHERE pxm.MSN_OID IN (
                SELECT msn.MSN_OID
                FROM BASIL_ODS_PRD.MASTER_SERIAL_NUMBER AS msn
                WHERE msn.SERIAL_NUMBER IN
                <foreach item="item" index="index" collection="serialNumber" open="(" separator="," close=")">
                    #{item}
                </foreach>
                )
                )
            </if>
            <if test = "responder != null">
                AND user.NAME = #{responder} OR user.NAME IS NULL
            </if>
            <if test = "createdFromDate != null and createdToDate">
                AND pmo.ORDER_DATE BETWEEN #{createdFromDate} AND #{createdToDate}
            </if>
        </where>
    </select>

    <select id = "getTicketingViews" resultType = "us.pax.basil.entity.ticket.TicketView">
        SELECT
        pmo.MO_OID as ticketId,
        scavstatus.VALUE as status,
        scavdept.VALUE as department,
        scavtype.VALUE as type,
        mc.CUSTOMER_ORGANIZATION as customerOrganization,
        pmo.ORDER_DATE as createdDate,
        resp.RESPONSE_DATE as lastResponse,
        user.NAME as responder

        FROM
        BASIL_SEC_PRD.PREP_MASTER_ORDER pmo
        JOIN BASIL_ODS_PRD.MASTER_CUSTOMER mc USING(MC_OID)
        JOIN BASIL_SEC_PRD.SUPPORT_CLIENT_ATTRIBUTE_VALUES scavstat ON pmo.ORDER_STATUS = scavstat.SCV_OID
        LEFT JOIN BASIL_SEC_PRD.XREF_RESPONSE resp USING(MO_OID)
        LEFT JOIN BASIL_SEC_PRD.USERS user ON resp.RESPONSE_BY = user.U_OID

        LEFT JOIN BASIL_SEC_PRD.SUPPORT_CLIENT_ATTRIBUTE_VALUES scavstatus ON pmo.ORDER_STATUS = scavstatus.SCV_OID
        LEFT JOIN BASIL_SEC_PRD.SUPPORT_CLIENT_ATTRIBUTE_VALUES scavdept ON pmo.ORDER_DEPT = scavdept.SCV_OID
        LEFT JOIN BASIL_SEC_PRD.SUPPORT_CLIENT_ATTRIBUTE_VALUES scavtype ON pmo.ORDER_TYPE = scavtype.SCV_OID
        LEFT JOIN (
        select response.* from ( select response.*,row_number() over (partition by mo_oid order by response_date desc) rn from BASIL_SEC_PRD.XREF_RESPONSE as response ) AS response where response.rn=1 ) AS res on res.MO_OID=pmo.MO_OID
        <where>
            <if test = "id !=null">
                AND mc.MC_OID = #{id}
            </if>
            <if test = "ticketId != null">
                AND
                <foreach item="item" index="index" collection="ticketId" open="pmo.MO_OID in (" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test = "department != null">
                AND scavdept.SCV_OID = #{department}
            </if>
            <if test = "type != null">
                AND scavtype.SCV_OID = #{type}
            </if>
            <if test = "status != null">
                AND scavstatus.SCV_OID = #{status}
            </if>

            <if test = "customerOrganization != null">
                AND mc.CUSTOMER_ORGANIZATION = #{customerOrganization}
            </if>

            <if test = "lastResponse != null">
                AND resp.RESPONSE_DATE = #{lastResponse}
            </if>

            <if test = "customerId != null">
                AND mc.MC_OID = #{customerId}
            </if>

            <if test="serialNumber != null">
                AND
                pmo.MO_OID IN (
                SELECT pxm.MO_OID
                FROM BASIL_SEC_PRD.PREP_XREF_MATERIALS AS pxm
                WHERE pxm.MSN_OID IN (
                SELECT msn.MSN_OID
                FROM BASIL_ODS_PRD.MASTER_SERIAL_NUMBER AS msn
                WHERE msn.SERIAL_NUMBER IN
                <foreach item="item" index="index" collection="serialNumber" open="(" separator="," close=")">
                    #{item}
                </foreach>
                )
                )
            </if>

            <if test = "responder != null">
                AND LOWER(user.NAME) LIKE CONCAT ('%', LOWER(#{responder}), '%')
            </if>
            <if test = "createdFromDate != null and createdToDate">
                AND pmo.ORDER_DATE BETWEEN #{createdFromDate} AND #{createdToDate}
            </if>
        </where>
        <if test="sortColumns != null and sortColumns != ''">
            ORDER BY ${sortColumns}
        </if>
        LIMIT #{offset,jdbcType=INTEGER},#{count,jdbcType=INTEGER}
    </select>

    <select id = "queryDepartmentList" resultType="us.pax.basil.entity.ticket.Department">
        SELECT
            scav.SCV_OID as id,
            scav.VALUE as department
        FROM
            BASIL_SEC_PRD.SUPPORT_CLIENT_ATTRIBUTE_VALUES scav
        WHERE
            scav.SC_OID = 2
        ORDER BY
            scav.SORT_ORDER ASC

    </select>

    <select id = "queryOrderTypeList" resultType="us.pax.basil.entity.ticket.OrderType">
        SELECT
            scav.SCV_OID as id,
            scav.VALUE as orderType
        FROM
            BASIL_SEC_PRD.SUPPORT_CLIENT_ATTRIBUTE_VALUES scav
        WHERE
            scav.SC_OID = 1
        ORDER BY
            scav.SORT_ORDER ASC
    </select>

    <select id = "queryStatusList" resultType="us.pax.basil.entity.ticket.Status">
        SELECT
            scav.SCV_OID as id,
            scav.VALUE as status
        FROM
            BASIL_SEC_PRD.SUPPORT_CLIENT_ATTRIBUTE_VALUES scav
        WHERE
            scav.SC_OID = 3
        ORDER BY
            scav.SORT_ORDER ASC
    </select>

    <select id = "queryRepairTypeList" resultType="us.pax.basil.entity.ticket.RepairType">
        SELECT
            scav.SCV_OID as id,
            scav.VALUE as repairType
        FROM
            BASIL_SEC_PRD.SUPPORT_CLIENT_ATTRIBUTE_VALUES scav
        WHERE
            scav.SC_OID = 1 AND scav.DEPARTMENT=100
        ORDER BY
            scav.SORT_ORDER ASC
    </select>

    <select id = "queryDevice" resultType = "us.pax.basil.entity.ticket.Device">
        SELECT
            msn.WARRANTY_END_DATE as warrantyExpDate,
            msn.WARRANTY_VOIDED_DATE as voidDate,
            msn.SERIAL_NUMBER as serialNumber
        FROM
            BASIL_ODS_PRD.MASTER_SERIAL_NUMBER as msn
        <where>
            <if test="serialNumber != null">
                msn.SERIAL_NUMBER = #{serialNumber}
            </if>
        </where>
    </select>

    <select id="queryDeviceDuplicate" resultType="us.pax.basil.entity.ticket.Device">
        SELECT msn.SERIAL_NUMBER as serialNumber
        FROM BASIL_ODS_PRD.MASTER_SERIAL_NUMBER msn
        JOIN BASIL_SEC_PRD.PREP_XREF_MATERIALS pxm ON msn.MSN_OID = pxm.MSN_OID
        <where>
            <if test="serialNumber != null">
                msn.SERIAL_NUMBER = #{serialNumber}
            </if>
            AND pxm.STATUS != 113
        </where>

        UNION

        SELECT msn.SERIAL_NUMBER as serialNumber
        FROM BASIL_ODS_PRD.MASTER_SERIAL_NUMBER msn
        JOIN BASIL_ODS_PRD.XREF_MATERIALS xm ON msn.MSN_OID = xm.MSN_OID
        <where>
            <if test="serialNumber != null">
                msn.SERIAL_NUMBER = #{serialNumber}
            </if>
            AND xm.STATUS != 113
        </where>
    </select>



    <select id="queryDeviceInfo" resultType = "us.pax.basil.entity.ticket.Device">
        SELECT
            hpcf.SN as serialNumber,
            hpcf.`Full_PN#` as model,
            hpcf.`Version_#` as version,
            msn.WARRANTY_END_DATE as warrantyExpDate,
            rc.PART_NUMBER_SHORT,
            rc.CUSTOMER AS COMPANY,
            rc.COSMETIC as cosmeticPrice,
            rc.DIAGNOSTIC as diagnosticPrice,
            rc.MINOR as minorPrice
        FROM
            BASIL_ODS_PRD.MASTER_SERIAL_NUMBER msn
            JOIN BASIL_SBX_PRD.HIST_PREP_CHINA_FILE hpcf ON hpcf.SN = msn.SERIAL_NUMBER
            JOIN BASIL_SBX_PRD.REPAIR_COST rc ON LEFT(hpcf.`Full_PN#`, LOCATE('-', hpcf.`Full_PN#`) - 1) = rc.PART_NUMBER_SHORT
        <where>
            <if test="serialNumber != null">
                msn.SERIAL_NUMBER = #{serialNumber}
            </if>
            <if test="companyId != null">
                AND (rc.CUSTOMER = #{companyId} OR rc.CUSTOMER IS NULL)
            </if>
        </where>
        <if test="companyId != null">
            ORDER BY rc.CUSTOMER DESC
        </if>
        LIMIT 1;
    </select>


    <select id="findUSBasedDevices" parameterType="java.util.List" resultType="java.lang.String">
        SELECT msn.SERIAL_NUMBER
        FROM BASIL_ODS_PRD.MASTER_SERIAL_NUMBER msn
        WHERE msn.SERIAL_NUMBER IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item, jdbcType=INTEGER}
        </foreach>
    </select>


    <select id="getDeviceInfos" parameterType="java.util.List" resultType="us.pax.basil.entity.ticket.Device">
        SELECT
            SERIAL_NUMBER as serialNumber,
            msnOID,
            xmOID,
            warrantyExpDate,
            warrantyStatus,
            model,
            version,
            cosmeticPrice,
            diagnosticPrice,
            minorPrice,
            existInAnotherTicket
        FROM(
        SELECT
        msn.SERIAL_NUMBER,
        xm.MSN_OID as msnOID,
        CASE
        WHEN msn.WARRANTY_VOIDED_DATE IS NOT NULL THEN msn.WARRANTY_VOIDED_DATE
        ELSE msn.WARRANTY_END_DATE
        END AS warrantyExpDate,
        CASE
        WHEN msn.WARRANTY_END_DATE IS NULL AND msn.WARRANTY_VOIDED_DATE IS NULL THEN 'N/A'
        WHEN CURRENT_DATE <![CDATA[<]]> COALESCE (msn.WARRANTY_VOIDED_DATE, msn.WARRANTY_END_DATE) THEN 'Under Warranty'
        ELSE 'Out Of Warranty'
        END AS warrantyStatus,
        mp.PART_NUMBER_LONG AS model,
        mp.VERSION_NUMBER AS version,
        rc.COSMETIC AS cosmeticPrice,
        rc.DIAGNOSTIC AS diagnosticPrice,
        rc.MINOR AS minorPrice,
        xm.XM_OID as xmOID,
        IF(xm.XM_OID IS NULL OR xm.STATUS = 113, FALSE, TRUE) AS existInAnotherTicket,
        ROW_NUMBER() OVER (PARTITION BY msn.SERIAL_NUMBER ORDER BY IF(xm.XM_OID IS NULL OR xm.STATUS = 113, FALSE, TRUE) DESC) AS RN
        FROM
        BASIL_ODS_PRD.MASTER_SERIAL_NUMBER msn
        LEFT JOIN
        BASIL_ODS_PRD.MASTER_PART mp ON msn.PART_OID = mp.PART_OID
        LEFT JOIN
        BASIL_ODS_PRD.XREF_MATERIALS xm ON msn.MSN_OID = xm.MSN_OID
        LEFT JOIN
        BASIL_SBX_PRD.REPAIR_COST rc ON LEFT(mp.PART_NUMBER_LONG, LOCATE('-', mp.PART_NUMBER_LONG) - 1) = rc.PART_NUMBER_SHORT

        <where>
            msn.SERIAL_NUMBER IN
            <foreach item="item" index="index" collection="usBasedDevices" open="(" separator="," close=")">
                #{item, jdbcType=INTEGER}
            </foreach>
            AND (
            rc.CUSTOMER = #{companyId} OR
            (
            rc.CUSTOMER IS NULL AND
            NOT EXISTS (
            SELECT 1
            FROM BASIL_SBX_PRD.REPAIR_COST rc2
            WHERE rc2.PART_NUMBER_SHORT = rc.PART_NUMBER_SHORT
            <if test="companyId != null">
                AND rc2.CUSTOMER = #{companyId}
            </if>
            )
            )
            )
        </where>
        ) AS CTE
        <where>
            (existInAnotherTicket = 1) OR
            (existInAnotherTicket = 0 AND RN = 1);
        </where>

    </select>

    <insert id="insertPrep_Master_Order" parameterType="us.pax.basil.entity.ticket.TicketInsertionObject" useGeneratedKeys="true" keyProperty="moOID" keyColumn="MO_OID">
        INSERT INTO BASIL_SEC_PRD.PREP_MASTER_ORDER (MC_OID, ORDER_STATUS, ORDER_DATE)
        VALUES (#{mcOID}, #{orderStatus}, DATE_FORMAT(#{orderDate}, '%Y-%m-%d %H:%i:%s'))
    </insert>

    <insert id="insertPrep_Xref_Materials" useGeneratedKeys="false">
        INSERT INTO BASIL_SEC_PRD.PREP_MASTER_ORDER.PREP_XREF_MATERIALS (MO_OID, XM_OID, MSN_OID, CUSTOMER_RMA, CUSTOMER_TERMINAL_ID, CUSTOMER_REPORTED_ISSUE_EXT)
        VALUES
        <foreach item="item" collection="sNsInsertionObjectList" separator=",">
            (#{item.moOID}, #{item.xmOID}, #{item.msnOID}, #{item.customerRMA},#{item.customerTerminalID},#{item.customerReportedIssueExt})
        </foreach>
    </insert>
</mapper>


