<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="us.pax.basil.mapper.TicketMapper">
    <select id = "getTicketingTotal" resultType = "Integer">
        SELECT
            count(*)
        FROM
            BASIL_SEC_PRD.PREP_MASTER_ORDER pmo
            JOIN BASIL_ODS_PRD.MASTER_CUSTOMER mc USING(MC_OID)
            JOIN BASIL_SEC_PRD.SUPPORT_CLIENT_ATTRIBUTE_VALUES scavstat ON pmo.ORDER_STATUS = scavstat.SCV_OID
            LEFT JOIN BASIL_SEC_PRD.XREF_RESPONSE resp USING(MO_OID)
            LEFT JOIN BASIL_SEC_PRD.USERS user ON resp.RESPONSE_BY = user.U_OID
            LEFT JOIN BASIL_SEC_PRD.SUPPORT_CLIENT_ATTRIBUTE_VALUES scavstatus ON pmo.ORDER_STATUS = scavstatus.SCV_OID
            LEFT JOIN BASIL_SEC_PRD.SUPPORT_CLIENT_ATTRIBUTE_VALUES scavdept ON pmo.ORDER_DEPT = scavdept.SCV_OID
            LEFT JOIN BASIL_SEC_PRD.SUPPORT_CLIENT_ATTRIBUTE_VALUES scavtype ON pmo.ORDER_TYPE = scavtype.SCV_OID
        <where>
            <if test = "id !=null">
                AND mc.MC_OID = #{id}
            </if>
            <if test = "ticketId != null">
                AND pmo.MO_OID = #{ticketId}
            </if>
            <if test = "department != null">
                AND scavdept.SCV_OID = #{department}
            </if>
            <if test = "type != null">
                AND scavtype.SCV_OID = #{type}
            </if>
            <if test = "status != null">
                AND scavstatus.SCV_OID = #{status}
            </if>
            <if test = "responder != null">
                AND user.NAME = #{responder} OR user.NAME IS NULL
            </if>
            <if test = "createdFromDate != null and createdToDate">
                AND pmo.ORDER_DATE BETWEEN #{createdFromDate} AND #{createdToDate}
            </if>
        </where>
    </select>

    <select id = "getTicketing" resultType = "us.pax.basil.entity.ticket.TicketingQueue">
            SELECT
                pmo.MO_OID as ticketId,
                scavstatus.VALUE as status,
                scavdept.VALUE as department,
                scavtype.VALUE as type,
                mc.CUSTOMER_ORGANIZATION as customerOrganization,
                pmo.ORDER_DATE as createdDate,
                user.NAME as responder
            FROM
                BASIL_SEC_PRD.PREP_MASTER_ORDER pmo
                JOIN BASIL_ODS_PRD.MASTER_CUSTOMER mc USING(MC_OID)
                JOIN BASIL_SEC_PRD.SUPPORT_CLIENT_ATTRIBUTE_VALUES scavstat ON pmo.ORDER_STATUS = scavstat.SCV_OID
                LEFT JOIN BASIL_SEC_PRD.XREF_RESPONSE resp USING(MO_OID)
                LEFT JOIN BASIL_SEC_PRD.USERS user ON resp.RESPONSE_BY = user.U_OID

                LEFT JOIN BASIL_SEC_PRD.SUPPORT_CLIENT_ATTRIBUTE_VALUES scavstatus ON pmo.ORDER_STATUS = scavstatus.SCV_OID
                LEFT JOIN BASIL_SEC_PRD.SUPPORT_CLIENT_ATTRIBUTE_VALUES scavdept ON pmo.ORDER_DEPT = scavdept.SCV_OID
                LEFT JOIN BASIL_SEC_PRD.SUPPORT_CLIENT_ATTRIBUTE_VALUES scavtype ON pmo.ORDER_TYPE = scavtype.SCV_OID

        <where>
            pmo.ACKNOWLEDGED = 0
            <if test = "id !=null">
                    AND mc.MC_OID = #{id}
            </if>
            <if test = "ticketId != null">
                    AND pmo.MO_OID = #{ticketId}
            </if>
            <if test = "department != null">
                    AND scavdept.SCV_OID = #{department}
            </if>
            <if test = "type != null">
                    AND scavtype.SCV_OID = #{type}
            </if>
            <if test = "status != null">
                    AND scavstatus.SCV_OID = #{status}
            </if>
            <if test = "responder != null">
                    AND LOWER(user.NAME) LIKE CONCAT ('%', LOWER(#{responder}), '%')
            </if>
            <if test = "createdFromDate != null and createdToDate">
                AND pmo.ORDER_DATE BETWEEN #{createdFromDate} AND #{createdToDate}
            </if>
        </where>
        <if test="sortColumns != null and sortColumns != ''">
            ORDER BY ${sortColumns}
        </if>
        LIMIT #{offset,jdbcType=INTEGER},#{count,jdbcType=INTEGER}
    </select>

    <select id = "queryDepartmentList" resultType="us.pax.basil.entity.ticket.Department">
        SELECT
            scav.SCV_OID as id,
            scav.VALUE as department
        FROM
            BASIL_SEC_PRD.SUPPORT_CLIENT_ATTRIBUTE_VALUES scav
        WHERE
            scav.SC_OID = 2
        ORDER BY
            scav.SORT_ORDER ASC

    </select>

    <select id = "queryOrderTypeList" resultType="us.pax.basil.entity.ticket.OrderType">
        SELECT
            scav.SCV_OID as id,
            scav.VALUE as orderType
        FROM
            BASIL_SEC_PRD.SUPPORT_CLIENT_ATTRIBUTE_VALUES scav
        WHERE
            scav.SC_OID = 1
        ORDER BY
            scav.SORT_ORDER ASC
    </select>

    <select id = "queryStatusList" resultType="us.pax.basil.entity.ticket.Status">
        SELECT
            scav.SCV_OID as id,
            scav.VALUE as status
        FROM
            BASIL_SEC_PRD.SUPPORT_CLIENT_ATTRIBUTE_VALUES scav
        WHERE
            scav.SC_OID = 3
        ORDER BY
            scav.SORT_ORDER ASC
    </select>
</mapper>