<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="us.pax.basil.mapper.UserMapper">

    <insert id="addUser" parameterType="us.pax.basil.entity.User" useGeneratedKeys="true" keyProperty="id" keyColumn="U_OID">
    	INSERT 
    		INTO 
    		   BASIL_SEC_PRD.USERS (NAME, COMPANY_ID, EMAIL, PASSWORD, PASS_TOKEN, PASS_TOKEN_EXP, STATUS, CREATOR, MODIFIER, STANDARD_USER)
    		VALUES(#{name}, #{companyId}, #{email}, #{password}, #{token}, #{tokenExp}, #{status}, #{creator}, #{creator}, #{standardUser});
    </insert>
    
    <update id="setLastLogin">
		UPDATE BASIL_SEC_PRD.USERS
			SET LAST_LOGIN_DATE = CURRENT_TIMESTAMP()
		WHERE U_OID=#{id}
    </update>

    <update id="setUserId">
		SET @userId=#{userId,jdbcType=VARCHAR}
    </update>

    <update id="setProgramName">
		SET @programName=#{programName,jdbcType=VARCHAR}
    </update>

    <update id="setReasonForChange">
		SET @reasonForChange=#{reasonForChange,jdbcType=VARCHAR}
    </update>

    <select id="getUserStatus" resultType="Integer">
        SELECT 
			STATUS
    	FROM BASIL_SEC_PRD.USERS
    		where U_OID=#{id};
    </select>

	<select id="getUserByEmail" resultType="us.pax.basil.entity.User">
		SELECT 
			U_OID as id,
			NAME,
			COMPANY_ID,
			EMAIL,
			STATUS,
			(CASE
        		WHEN STATUS = 1 THEN 'Active'
        		WHEN STATUS = 2 THEN 'Disabled'
        		WHEN STATUS = 3 THEN 'Inactive'
    		END) statusStr,
    		CREATED,
    		PASSWORD,
    		LAST_LOGIN_DATE as lastLoginDate,
			STANDARD_USER
		FROM 
			BASIL_SEC_PRD.USERS 
		WHERE 
			EMAIL=#{email};
	</select>

	<select id="getUserByToken" resultType="us.pax.basil.entity.User">
		SELECT 
			U_OID as id,
			NAME,
			COMPANY_ID,
			EMAIL,
			STATUS,
			(CASE
        		WHEN STATUS = 1 THEN 'Active'
        		WHEN STATUS = 2 THEN 'Disabled'
        		WHEN STATUS = 3 THEN 'Inactive'
    		END) statusStr,
    		CREATED,
    		PASSWORD,
    		LAST_LOGIN_DATE as lastLoginDate
		FROM 
			BASIL_SEC_PRD.USERS 
		WHERE 
			PASS_TOKEN=#{token};
	</select>

	<select id="getUserById" resultType="us.pax.basil.entity.User">
		SELECT 
			U_OID as id,
			NAME,
			COMPANY_ID,
			EMAIL,
			STATUS,
			(CASE
        		WHEN STATUS = 1 THEN 'Active'
        		WHEN STATUS = 2 THEN 'Disabled'
        		WHEN STATUS = 3 THEN 'Inactive'
    		END) statusStr,
    		CREATED,
    		PASSWORD,
    		LAST_LOGIN_DATE as lastLoginDate,
			STANDARD_USER
		FROM 
			BASIL_SEC_PRD.USERS 
		WHERE 
			U_OID=#{id};
	</select>

	<select id="queryCompanyList" resultType="us.pax.basil.entity.customer.Company">
		SELECT 
			MC_OID as id, 
			CUSTOMER_ORGANIZATION as organization, 
			CLIENT_GROUP AS clientGroupId, 
			sav.VALUE AS clientGroup 
		FROM 
			BASIL_ODS_PRD.MASTER_CUSTOMER co 
			LEFT JOIN BASIL_ODS_PRD.SUPPORT_ATTRIBUTE_VALUES sav ON sav.SAV_OID = co.CLIENT_GROUP 
		WHERE 
			CUSTOMER_ORGANIZATION LIKE concat('%',#{name},'%')
	</select>

	<select id="getCompanyInfo" resultType="us.pax.basil.entity.customer.Company">
		SELECT 
			MC_OID as id, 
			CUSTOMER_ORGANIZATION as organization, 
			CLIENT_GROUP AS clientGroupId, 
			sav.VALUE AS clientGroup 
		FROM 
			BASIL_ODS_PRD.MASTER_CUSTOMER co 
			LEFT JOIN BASIL_ODS_PRD.SUPPORT_ATTRIBUTE_VALUES sav ON sav.SAV_OID = co.CLIENT_GROUP 
		WHERE 
			MC_OID = #{id}
	</select>

    <select id="getCompanyName" resultType="String">
    	SELECT
			CUSTOMER_ORGANIZATION
		FROM 
			BASIL_ODS_PRD.MASTER_CUSTOMER
		WHERE
			MC_OID=#{id};
    </select>

	<select id="getListCount" resultType="Integer">
		SELECT
			count(*)
		FROM
			BASIL_SEC_PRD.USERS
    	<where>
      		<if test="name != null">
          		NAME LIKE concat('%',#{name},'%')
      		</if>
      		<if test="company != null">
          		AND COMPANY_ID=#{company}
      		</if>
      		<if test="status != null">
          		AND STATUS=#{status}
      		</if>
      		<if test="email != null">
        		AND EMAIL LIKE concat('%',#{email},'%')
      		</if>
    	</where>
    </select>

	<select id="getPrivilegeListCount" resultType="Integer">
		SELECT
			count(*)
		FROM
			BASIL_SEC_PRD.USERS
    	<where>
      		<if test="name != null">
          		NAME LIKE concat('%',#{name},'%')
      		</if>
      		<if test="email != null">
        		AND EMAIL LIKE concat('%',#{email},'%')
      		</if>
      		<if test="registerTime != null">
        		AND CREATED = #{registerTime}
      		</if>
      		<if test="lastLogin != null">
        		AND LAST_LOGIN_DATE = #{lastLogin}
      		</if>
      		<if test="status != null">
        		AND STATUS = #{status}
      		</if>
    	</where>
    </select>

	<select id="queryList" resultType="us.pax.basil.entity.User">
		SELECT
			U_OID as id,
			NAME,
			COMPANY_ID,
			EMAIL,
			STATUS,
			(CASE
        		WHEN STATUS = 1 THEN 'Active'
        		WHEN STATUS = 2 THEN 'Disabled'
        		WHEN STATUS = 3 THEN 'Inactive'
    		END) statusStr
		FROM
			BASIL_SEC_PRD.USERS
    	<where>
      		<if test="name != null">
          		NAME LIKE concat('%',#{name},'%')
      		</if>
      		<if test="company != null">
          		AND COMPANY_ID=#{company}
      		</if>
      		<if test="status != null">
          		AND STATUS=#{status}
      		</if>
      		<if test="email != null">
        		AND EMAIL LIKE concat('%',#{email},'%')
      		</if>
    	</where>
    	<if test="sortColumns != null and sortColumns != ''">
      		ORDER BY ${sortColumns}
    	</if>
    	LIMIT #{offset,jdbcType=INTEGER},#{count,jdbcType=INTEGER}
    </select>

	<select id="queryPrivilegeList" resultType="us.pax.basil.entity.User">
		SELECT
		    U_OID as id,
			NAME,
			EMAIL,
			CREATED,
			LAST_LOGIN_DATE,
			STATUS,
			(CASE
        		WHEN STATUS = 1 THEN 'Active'
        		WHEN STATUS = 2 THEN 'Disabled'
        		WHEN STATUS = 3 THEN 'Inactive'
    		END) statusStr
		FROM
			BASIL_SEC_PRD.USERS
    	<where>
      		<if test="name != null">
          		NAME LIKE concat('%',#{name},'%')
      		</if>
      		<if test="email != null">
        		AND EMAIL LIKE concat('%',#{email},'%')
      		</if>
      		<if test="registerTime != null">
        		AND CREATED = #{registerTime}
      		</if>
      		<if test="lastLogin != null">
        		AND LAST_LOGIN_DATE = #{lastLogin}
      		</if>
      		<if test="status != null">
        		AND STATUS = #{status}
      		</if>
    	</where>
    	<if test="sortColumns != null and sortColumns != ''">
      		ORDER BY ${sortColumns}
    	</if>
    	LIMIT #{offset,jdbcType=INTEGER},#{count,jdbcType=INTEGER}
    </select>

	<select id="viewQuery" resultType="us.pax.basil.entity.User">
		SELECT 
			* 
		FROM 
			BASIL_SEC_PRD.USERS 
		WHERE 
			U_OID=#{id};
    </select>
    
    <update id="updateUser" parameterType="us.pax.basil.entity.User">
    	UPDATE BASIL_SEC_PRD.USERS
    	SET
			<if test="name != null">
				NAME=#{name},
			</if>
    		<if test="email != null">
				EMAIL=#{email},
			</if>
    		<if test="status != null">
				STATUS=#{status},
			</if>
			<if test="standardUser != null">
				STANDARD_USER=#{standardUser},
			</if>
      		<if test="companyId != null">
			COMPANY_ID=#{companyId},
			</if>
    		MODIFIED=CURRENT_TIMESTAMP()
   		WHERE 
   			U_OID=#{id};
    </update>
    
</mapper>
